li {
  list-style: none;
  padding: 20px 30px 20px 30px;
  color: white;
}
ul {
  display: flex;
  justify-content: center;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(91, 200, 172, 0.9);
}
.header-left p {
  color: white;
  font-size: 20px;
  padding: 0 10px;
  float: left;
  font-weight: bold;
}
body {
  background-color: #98dbc6;
}
.top-wrapper {
  text-align: center;
}
.contents {
  height: 500px;
}
.contents-item {
  float: left;
}
.img1 img {
  width: 200px;
}
.img2 img {
  width: 300px;
}
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
}
.btn:hover {
  opacity: 1;
}
.white {
  background-color: black;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.brown {
  background-color: brown;
}
.btn-wrapper {
  margin: 20px;
}
