li {
  list-style: none;
  padding: 20px 30px 20px 30px;
  color: white;
}
ul {
  display: flex;
  justify-content: center;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(91, 200, 172, 0.9);
}
.header-left p {
  color: white;
  font-size: 20px;
  padding: 0 10px;
  float: left;
  font-weight: bold;
  font-family: "Nico Moji";
}
body {
  background-color: #98dbc6;
}
#mypic {
  cursor: url("https://cdn.glitch.global/cf6bae63-4df6-4921-804a-1e3d0c3887a1/なでなで手使う?v=1711040398823
"),
    auto;
  height: 400px;
}
#mypic:active {
  box-shadow: none;
  transform: translateY(3px);
}
.top-wrapper {
  text-align: center;
  font-family: "Nico Moji";
}
.contents-item {
  float: left;
}
.img1 img {
  width: 200px;
}
.img2 img {
  width: 300px;
}
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
}
.btn:hover {
  opacity: 1;
}
#btn1 {
  background-color: red;
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  display: block;
  margin: auto;
}
#btn2 {
  background-color: orange;
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  display: block;
  margin: auto;
}
#btn3 {
  background-color: brown;
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  display: block;
  margin: auto;
}
.btn-wrapper {
  margin: 20px;
  text-align: center;
}
#img:active {
  box-shadow: none;
  transform: translateY(3px);
}
#img {
  cursor: url("
https://cdn.glitch.global/cf6bae63-4df6-4921-804a-1e3d0c3887a1/なでなで手使う?v=1711040398823
"),
    auto;
}
/*
.illustration {
 max-width: 100%;
 max-height: var(--image-max-width);
 margin-top: var(--image-margin);
}
*/
